.IconButton {
  transition: all 0.2s !important;
}

.IconButton:hover {
  background-color: #c5c5c5 !important;
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.4);
}
.todoCard {
  transition: all 0.2s !important;
}
.todoCard:hover {
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.4);
}
/* costm font  */
@font-face {
  font-family: Alexandria;
  src: url("/public/fonts/Alexandria-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: Alexandria;
  src: url("/public/fonts/Alexandria-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: Alexandria;
  src: url("/public/fonts/Alexandria-Black.ttf");
  font-weight: 900;
}
@font-face {
  font-family: Alexandria;
  src: url("/public/fonts/Alexandria-Light.ttf");
  font-weight: 200;
}
/* costm font  */

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
